/* Global styles */
body {
    background-image: url('bgm.jpg');
	background-size: cover;
	background-position: center;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #F7B1AB;
	color: white;
	padding: 1rem;
    flex: auto;
}
header img {
    /*
    float: left;
    max-width: 200px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;*/
    position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
    }
/*header img {
	max-width: 200px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin-left: 43%;
    
}*/

  

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
    margin-left: 40%;
    
}

nav li {
	display: inline-block;
	margin-right: 1rem;
}

nav a {
	color: black;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
}

h1, h2 {
	text-align: center;
}

h2 {
	border-bottom: 2px solid #F7B1AB;
	padding-bottom: 1rem;
}

section {
	margin-bottom: 2rem;
}

ul {
	list-style: disc;
	margin-left: 1.5rem;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
}

label, input, textarea {
	margin-bottom: 1rem;
}

input, textarea {
	padding: 0.5rem;
	border: 1px solid #ddd;
	border-radius: 5px;
}

button[type="submit"] {
	background-color: #F7B1AB;
	color: white;
	border: none;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
	header {
		padding: 0.5rem;
	}

	nav li {
		display: block;
		margin-bottom: 0.5rem;
	}

	main {
		padding: 1rem;
	}
}
/*
section#portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

section#portfolio img {
	max-width: 50%;
	height: auto;
	margin-bottom: 1rem;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
}
*/
section#portfolio img:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease-in-out;
}


section#portfolio {
	text-align: center;
}

section#portfolio img {
	display: inline-block;
	max-width: 30%;
	height: auto;
	margin-right: 1rem;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

section#portfolio img:last-child {
	margin-right: 0;
}
